[submodule "modules/stepit-motors"]
	path = modules/stepit-motors
	url = git@github.com:kineticsystem/stepit-motors.git
	branch = main
[submodule "modules/stepit-commander"]
	path = modules/stepit-commander
	url = git@github.com:kineticsystem/stepit-commander.git
	branch = main
[submodule "modules/stepit-editor"]
	path = modules/stepit-editor
	url = git@github.com:kineticsystem/stepit-editor.git
	branch = main
[submodule "modules/stepit-camera"]
	path = modules/stepit-camera
	url = git@github.com:kineticsystem/stepit-camera.git
	branch = main
[submodule "modules/stepit-ui"]
	path = modules/stepit-ui
	url = git@github.com:kineticsystem/stepit-ui.git
	branch = main
[submodule "modules/stepit-freezer"]
	path = modules/stepit-freezer
	url = git@github.com:kineticsystem/stepit-freezer.git
	branch = main
